.notification {
  background: rgb(27, 27, 27);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.notification-success {
  color: green;
}

.notification-error {
  color: red;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog, .loginForm, .blogForm, .loggedIn, .blogList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.blogList {
  border-bottom: 4px solid rgb(255, 115, 0);
  font-weight: 700;
  width: fit-content;
  margin-bottom: 10px;
  color: rgb(255, 115, 0);
}

.loggedIn, .loginForm {
  background-color: rgb(27, 27, 27);
  border: 4px solid rgb(255, 115, 0);
  margin-bottom: 10px;
  opacity: 85%;
  border-radius: 10px;
  color: white;
}

.loginForm button {
  display: block;
  margin: 0 auto;
}

.loginInput {
  margin-bottom: 5px;
}

.logout, .loginForm input {
  margin-left: 10px;
}

.blogForm {
  margin-top: -20px;
}

.blogForm button, .cancelButton {
  display: block;
  margin: 0 auto;
}

.urlInput {
  margin-bottom: 10px;
}

.blog {
  border: 5px solid;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 115, 0);
  color: black;
  opacity: 85%;
}

.viewButton {
  background-color: rgb(54, 54, 54);
  margin-left: 10px;
  color: white;
}

.likeButton {
  background-color: rgb(54, 54, 54);
  color: white;
}

button {
  background-color: rgb(255, 115, 0);
  color: black;
}

.main {
  background: url('./img/carbon-fiber.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
}
