.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.notification-success {
  color: green;
}

.notification-error {
  color: red;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog, .loginForm, .blogForm, .loggedIn, .blogList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
}

.blogList {
  border-bottom: 4px solid black;
  font-weight: 700;
  width: fit-content;
  margin-bottom: 10px;
}

.loggedIn, .loginForm {
  background-color: lightblue;
  border: 2px solid black;
  margin-bottom: 10px;
  opacity: 85%;
  border-radius: 10px;
}

.loginForm button {
  display: block;
  margin: 0 auto;
}

.loginInput {
  margin-bottom: 5px;
}

.logout, .loginForm input {
  margin-left: 10px;
}

.blogForm {
  margin-top: -20px;
}

.blogForm button, .cancelButton {
  display: block;
  margin: 0 auto;
}

.urlInput {
  margin-bottom: 10px;
}

.blog {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(15, 65, 80);
  color: rgb(233, 227, 227);
  opacity: 85%;
}

.viewButton {
  background-color: lightgreen;
  margin-left: 10px;
}

button {
  background-color: rgb(97, 97, 238);
}

.main {
  background: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
}
